<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/product.css" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/products/0">Shopping_mall</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        카테고리
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/products/1">1번</a></li>
                        <li><a class="dropdown-item" href="/products/2">2번</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">베스트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">추천게임</a>
                </li>
                <li class="nav-item">
                    {{#user}}
                        <!-- 로그인 했을 때 -->
                        <a class="nav-link" href="/products/order/{{id}}/list">주문목록</a>
                    {{/user}}
                    {{^user}}
                        <!-- 로그인 안 했을 때 -->
                    {{/user}}
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {{#user}}
                        {{#authority}}
                            <!-- 권한이 있을때 -->
                            <a class="nav-link" href="/products/new">상품등록</a>
                        {{/authority}}
                        {{^authority}}
                            <!-- 권한이 없을때 -->
                        {{/authority}}
                    {{/user}}
                </li>
                <li class="nav-item">
                    {{#user}}
                        {{#authority}}
                            <!-- 권한이 있을때 -->
                            <a class="nav-link" href="/products/productList">상품목록</a>
                        {{/authority}}
                        {{^authority}}
                            <!-- 권한이 없을때 -->
                        {{/authority}}
                    {{/user}}
                </li>
                <li class="nav-item">
                    {{#user}}
                        <!-- 로그인 했을 때 -->
                        <a class="nav-link" href="/profile">Logged in as: {{username}}</a>
                    {{/user}}
                    {{^user}}
                        <!-- 로그인 안 했을 때 -->
                        <a class="nav-link" href="/login">로그인</a>
                    {{/user}}
                </li>
                <li class="nav-item">
                    {{#user}}
                    <!-- 로그인 했을 때 -->
                    <a class="nav-link" href="#" onclick="logout()">Logout</a>
                    {{/user}}
                    {{^user}}
                        <!-- 로그인 안 했을 때 -->
                    {{/user}}
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function logout() {
        // 로그아웃 요청을 보내는 AJAX 호출
        fetch('/logout', {
            method: 'POST'
        }).then((response) => {
            if (response.ok) {
                // 로그아웃이 성공하면 페이지를 새로고침하여 사용자를 로그아웃 상태로 만듭니다.
                location.replace("/products");
            } else {
                alert('Logout failed');
            }
        });
    }
</script>

