{{>layouts/header}}
<div class="cards-wrapper">
    {{#productDto}}
        <div class="card" style="width: 16rem;">
            <img src="{{img}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{content}}</li>
                <li class="list-group-item">{{price}}원</li>
                <li class="list-group-item">평점 : 5.0 / 5.0</li>
            </ul>
        </div>
    {{/productDto}}
</div>
{{>layouts/footer}}
