{{>layouts/header}}
{{#orderProductDtos}}
    <h3 style="text-align:center;">{{orderDate}}</h3>
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="/products/show/{{id}}">
                    <img src="/images/{{img}}" class="img-fluid rounded-start" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="/products/show/{{id}}">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{address}}</p>
                        <p class="card-text"><small class="text-muted">{{price}}원</small></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/orderProductDtos}}

{{>layouts/footer}}
