{{>layouts/header}}
{{#productDtos}}
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="/products/show/{{id}}">
                    <img src="/{{img}}" class="img-fluid rounded-start" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="/products/show/{{id}}">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text"><small class="text-muted">{{price}}원</small></p>
                        <p class="card-text"><small class="text-muted">활성화상태 : {{status}}</small></p>
                    </a>
                    <form action="/api/productList/active/{{id}}" method="post">
                        <button type="submit">활성화 비활성화</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/productDtos}}

{{>layouts/footer}}
