{{>layouts/header}}

{{#productDto}}
    <div class="product-details">
        <img src="/{{img}}" alt="상품 이미지" class="product-image">
        <h1 class="product-name">{{title}}</h1>
        <p class="product-price">{{price}}원</p>
        <p class="product-description">{{{content}}}</p>
        <button id="purchase-btn" class="add">구매하기</button>
        <button class="add-to-cart">장바구니에 추가</button>
    </div>
{{/productDto}}

    {{#userEntity}}
        <!-- 리뷰  -->
        {{>comments/_comments}}
    {{/userEntity}}

<script>
    {
        const purchaseBtn = document.getElementById('purchase-btn');
        purchaseBtn.addEventListener('click', function() {
            // 로그인 상태를 확인합니다.
            {{#logined}}
                window.location.href = '/products/order/{{productDto.id}}';
            {{/logined}}
            {{^logined}}
                alert('로그인이 필요합니다.');
                window.location.href = '/login';
            {{/logined}}
        });
    }
</script>

{{>layouts/footer}}
