<div id = "comments-list">
    {{#commentDtos}}
        <div class="card m-4" id="comments-{{id}}">
            <div class="card-header">
                {{user_id}}
                <button type="button" class="btn btn-sm btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#comment-edit-modal"
                        data-bs-id={{id}}
                        data-bs-content={{content}}
                        data-bs-product-id={{productDto.id}}
                        data-bs-user-id={{userEntity.id}}>
                    수정
                </button>
                <button class="btn btn-sm btn-outline-danger" data-delete-id={{id}} id="comment-delete-btn">삭제</button>
            </div>
            <div class="card-body">
                {{content}}
            </div>
        </div>
    {{/commentDtos}}
</div>

<!-- Modal -->
<div class="modal fade" id="comment-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">댓글 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">댓글 내용</label>
                        <textarea type="text" class="form-control form-control-sm" rows="3" id="edit-comment-content"></textarea>
                    </div>
                        <input type="hidden" id="edit-comment-id">
                        <input type="hidden" id="edit-comment-product-id">
                        <input type="hidden" id="edit-comment-user-id">
                    <button type="button" class="btn btn-outline-primary btn-sm" id="comment-update-btn">수정 완료</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    {
        const commentEditModal = document.querySelector("#comment-edit-modal");
        commentEditModal.addEventListener("show.bs.modal", event => {
            const trigerButton = event.relatedTarget
            const id = trigerButton.getAttribute('data-bs-id');
            const content = trigerButton.getAttribute('data-bs-content');
            const productId = trigerButton.getAttribute('data-bs-product-id');
            const userId = trigerButton.getAttribute('data-bs-user-id');


            document.querySelector("#edit-comment-id").value = id;
            document.querySelector("#edit-comment-content").value = content;
            document.querySelector("#edit-comment-product-id").value = productId;
            document.querySelector("#edit-comment-user-id").value = userId;
        });
    }

    {
        //수정 완료 버튼
        const commentUpdateBtn = document.querySelector("#comment-update-btn");
        commentUpdateBtn.addEventListener("click", event => {
            const comment = {
                id: document.querySelector("#edit-comment-id").value,
                content: document.querySelector("#edit-comment-content").value,
                product_id: document.querySelector("#edit-comment-product-id").value,
                user_id: document.querySelector("#edit-comment-user-id").value
            }

            //REST API 호출
            const url = "/api/" + comment.id + "/comments";
            fetch(url, {
                method : "PATCH",
                body : JSON.stringify(comment),
                headers : {
                    "Content-Type" : "application/json"
                }
            }).then(Response => {
                const msg = (Response.ok) ? "리뷰가 수정되었습니다." : "리뷰 수정에 실패하였습니다.";
                alert(msg);
                window.location.reload();
            });

        });
    }

    {
        //삭제 버튼
        const deleteBtns = document.querySelectorAll("#comment-delete-btn");

        deleteBtns.forEach(btn => {
            btn.addEventListener("click", event => {
                const deleteBtn = event.srcElement;
                const id = deleteBtn.getAttribute("data-delete-id")

                //REST API 호출
                const url = "/api/" + id + "/comments";
                fetch(url, {
                    method : "DELETE",
                    body : "",
                    headers : {}
                }).then(Response => {
                    const msg = (Response.ok) ? "리뷰가 삭제되었습니다." : "리뷰 삭제에 실패하였습니다.";
                    alert(msg);
                    window.location.reload();
                });

            });
        })
    }

</script>