<div class="card m-4" id="comments-new">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">리뷰 내용</label>
                <textarea type="text" class="form-control form-control-sm" rows="3" id="new-comment-content"></textarea>
            </div>
                <input type="hidden" id="new-comment-user-id" value="{{id}}">
            <button type="button" class="btn btn-outline-primary btn-sm" id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>

<script>
    {
      const commentCreateBtn = document.querySelector("#comment-create-btn");

      commentCreateBtn.addEventListener("click", function() {
        const comment = {
            content: document.querySelector("#new-comment-content").value,
            user_id: document.querySelector("#new-comment-user-id").value
        };
        console.log({{productDto.id}});

        const url = "/api/" + {{productDto.id}} + "/comments";
        fetch(url, {
            method: "post",
            body: JSON.stringify(comment),
            headers: {
                "Content-Type" : "application/json"
                }
        }).then(response => {
            const msg = (response.ok) ? "댓글이 등록되었습니다." : "댓글 등록 실패";
            alert(msg);
            window.location.reload();
        }) ;
      });
    }
</script>

