{{>layouts/header}}

<h2 class="text-center my-4">사용자 정보</h2>
{{#user}}
<div class="user-profile">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">이름 : {{username}}</h5>
                <p class="card-text">이메일: {{email}}</p>
                <p class="card-text">상품 권한: {{authority}}</p>
            </div>
        </div>
    </div>
    <div class="edit-button">
        <a href="/users/edit/{{id}}" class="btn btn-primary">프로필 수정</a>
    </div>
</div>
{{/user}}
{{>layouts/footer}}
